<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="camp">

	<resultMap type="writerInfo" id="WriterInfoMap">
  		<result property="total" column="TOTAL"/>
  		<result property="service" column="SERVICE"/>
  		<result property="cleanliness" column="CLEANLINESS"/>
  		<result property="cost" column="COST"/>
  		<result property="location" column="LOCATION"/>
  		<result property="totalcnt" column="TOTALCNT"/>
  		<result property="man" column="MAN"/>
  		<result property="woman" column="WOMAN"/>
  		<result property="ten" column="TEN"/>
  		<result property="twenty" column="TWENTY"/>
  		<result property="thirty" column="THIRTY"/>
  		<result property="fourty" column="FOURTY"/>
  		<result property="fifty" column="FIFTY"/>
  	</resultMap>
  	
  <select id="selectAllCamp" resultType="campDto">
    SELECT * FROM CAMP ORDER BY CAMPNO DESC
  </select>
  
  <select id="selectOneCamp" parameterType="int" resultType="campDto">
  	SELECT * FROM CAMP WHERE CAMPNO= #{campno}
  </select>
  
  <select id="selectAllRoom" parameterType="int" resultType="roomDto">
  	SELECT * FROM ROOM WHERE CAMPNO= #{campno}
  </select>
  
  <select id="selectOneRoom" parameterType="int" resultType="roomDto">
  	SELECT * FROM ROOM WHERE ROOMNO= #{roomno}
  </select>
  
  <select id="selectAllImage" parameterType="int" resultType="campImageDto">
  	SELECT * FROM CAMP_IMAGE WHERE CAMPNO=#{campno}
  </select>
  
  <select id="selectAllRImage" parameterType="int" resultType="roomImageDto">
  	SELECT * FROM ROOM_IMAGE WHERE ROOMNO=#{roomno}
  </select>
  
  <select id="selectAllResevation" parameterType="int" resultType="reservationDto">
  	SELECT * FROM RESERVATION WHERE ROOMNO=#{roomno}
  </select>
  
  <select id="selectAllReview" parameterType="int" resultType="reviewDto">
  	SELECT * FROM REVIEW WHERE CAMPNO=#{campno}
  </select>
  
  <select id="selectOneReview" parameterType="int" resultType="reviewDto">
  	SELECT * FROM REVIEW WHERE REVIEWNO=#{reviewno}
  </select>
  
  <select id="collectWriterInfo" parameterType="int" resultMap="WriterInfoMap">
  	SELECT ROUND(AVG(TOTAL),1) AS TOTAL,ROUND(AVG(SERVICE),1) AS SERVICE,
  	ROUND(AVG(CLEANLINESS),1) AS CLEANLINESS, ROUND(AVG(COST),1) AS COST, ROUND(AVG(LOCATION),1) AS LOCATION,
  	COUNT(*) AS TOTALCNT,
  	COUNT(CASE WHEN MYSEX='남성' THEN 1 end) AS MAN,COUNT(CASE WHEN MYSEX='여성' THEN 1 end) AS WOMAN,
	COUNT(CASE WHEN TRUNC(MONTHS_BETWEEN(TRUNC(SYSDATE),TRUNC(MYBIRTH))/12) BETWEEN 0 AND 19 THEN 1 END) AS TEN,
	COUNT(CASE WHEN TRUNC(MONTHS_BETWEEN(TRUNC(SYSDATE),TRUNC(MYBIRTH))/12) BETWEEN 20 AND 29 THEN 1 END) AS TWENTY,
	COUNT(CASE WHEN TRUNC(MONTHS_BETWEEN(TRUNC(SYSDATE),TRUNC(MYBIRTH))/12) BETWEEN 30 AND 39 THEN 1 END) AS THIRTY,
	COUNT(CASE WHEN TRUNC(MONTHS_BETWEEN(TRUNC(SYSDATE),TRUNC(MYBIRTH))/12) BETWEEN 40 AND 49 THEN 1 END) AS FOURTY,
	COUNT(CASE WHEN TRUNC(MONTHS_BETWEEN(TRUNC(SYSDATE),TRUNC(MYBIRTH))/12) > 50 THEN 1 END) AS FIFTY
	FROM (SELECT TOTAL,SERVICE,CLEANLINESS,COST,LOCATION,MYSEX,MYBIRTH FROM MYMEMBER, REVIEW WHERE MYID=WRITER AND CAMPNO=#{campno})
  </select>
  
  <insert id="insertCamp" parameterType="CampDto">
  	INSERT INTO CAMP
  	VALUES(CAMPSEQ.NEXTVAL,#{writer},#{name},#{camp_type},#{address},#{address_detail},
  	#{service},#{intro},#{rule},#{phone},#{email},#{tags},0,0,'0','/resources/img/camp_default.png',SYSDATE,0)
  </insert>
  
  <insert id="insertfile" parameterType="hashmap">
  	INSERT INTO CAMP_IMAGE
  	VALUES(IMAGE_SEQ.NEXTVAL,CAMPSEQ.CURRVAL,#{ORG_FILE_NAME},#{SAVE_FILE_NAME},#{FILE_SIZE},'N')
  </insert>
  
  <insert id="insertRoom" parameterType="RoomDto">
  	INSERT INTO ROOM
  	VALUES(ROOMSEQ.NEXTVAL,CAMPSEQ.CURRVAL,#{room_name},#{room_price},#{guest_number},#{room_content},'/resources/img/room_default.png')
  </insert>
  
  <insert id="insertRfile" parameterType="hashmap">
  	INSERT INTO ROOM_IMAGE
  	VALUES(RIMAGE_SEQ.NEXTVAL,ROOMSEQ.CURRVAL,#{ORG_FILE_NAME},#{SAVE_FILE_NAME},#{FILE_SIZE},'N')
  </insert>
  
  <insert id="insertReservation" parameterType="reservationDto">
  	INSERT INTO RESERVATION
  	VALUES(RESERVATION_SEQ.NEXTVAL,#{campno},#{roomno},#{userid},#{user_name},#{user_contact},#{guest_number},#{check_in},#{check_out},'Y',SYSDATE)
  </insert>
  
  <insert id="insertReview" parameterType="reviewDto">
  	INSERT INTO REVIEW
  	VALUES(REVIEWSEQ.NEXTVAL,#{campno},#{writer},#{title},#{content},#{service},#{cost},#{cleanliness},#{location},#{total},#{thumbnail},SYSDATE)
  </insert>
  
  <update id="updateCampThumbnail" parameterType="String">
  	UPDATE CAMP
  	SET THUMBNAIL=(#{src})
  	WHERE CAMPNO=(select campno from(select * from camp order by campno DESC)where ROWNUM = 1)
  </update>
	<update id="updateRoomThumbnail" parameterType="String">
  		UPDATE ROOM
  		SET THUMBNAIL=(#{src})
  		WHERE ROOMNO=(select roomno from(select * from room order by roomno DESC)where ROWNUM = 1)
  </update>
  
  <select id="chkReservation" parameterType="reservationDto" resultType="int">
  	SELECT COUNT(*) FROM (SELECT * FROM RESERVATION WHERE ROOMNO=#{roomno})
	WHERE (#{check_in} BETWEEN CHECK_IN AND CHECK_OUT) OR (#{check_out} BETWEEN CHECK_IN AND CHECK_OUT)
  </select>
  
  <select id="newReservation" resultType="reservationDto">
  	SELECT * FROM (SELECT * FROM RESERVATION ORDER BY RESERVNO DESC )WHERE ROWNUM=1
  </select>
  
  <select id="searchRoom" parameterType="reservationDto" resultType="roomDto">
  	SELECT * FROM ROOM
	WHERE ROOMNO NOT IN(
	SELECT ROOMNO FROM RESERVATION
	WHERE CAMPNO=#{campno} AND 
	(CHECK_IN BETWEEN #{check_in} AND #{check_out}) OR(CHECK_OUT BETWEEN  #{check_in} AND #{check_out}))
	AND CAMPNO=#{campno}
  </select>
  
  <update id="paymentChk" parameterType="int">
  	UPDATE RESERVATION SET STATUS='N' WHERE RESERVNO = #{reservno}
  </update>
  
  <select id="lowPrice" parameterType="int" resultType="String">
  	SELECT ROOM_PRICE FROM (SELECT * FROM ROOM WHERE CAMPNO=#{campno} ORDER BY CAST(ROOM_PRICE AS NUMBER)) WHERE ROWNUM=1;
  </select>
  
  <update id="updateLowestPrice" parameterType="int">
  	UPDATE CAMP 
  	SET LOWEST_PRICE=(SELECT ROOM_PRICE FROM 
  	(SELECT * FROM ROOM WHERE CAMPNO=#{campno} ORDER BY CAST(ROOM_PRICE AS NUMBER)) WHERE ROWNUM=1) 
  	WHERE CAMPNO=#{campno}
  </update>
  
  <update id="viewPlus" parameterType="int">
  	UPDATE CAMP SET VIEW_COUNT=VIEW_COUNT+1 WHERE CAMPNO=#{campno}
  </update>
  
  <update id="updateTotalgrade" parameterType="int">
  	UPDATE CAMP SET TOTAL_GRADE=(SELECT ROUND(AVG(TOTAL),1) FROM REVIEW WHERE CAMPNO=#{campno}) WHERE CAMPNO=#{campno}
  </update>
  
  <select id="newstCampno" resultType="int">
  	SELECT CAMPNO FROM CAMP WHERE ROWNUM=1 ORDER BY CAMPNO DESC
  </select>
  
  <select id="searchCamp" parameterType="searchInfo" resultType="campDto">
  	SELECT * FROM CAMP
  	WHERE ((NAME LIKE '%'||#{keyword}||'%') OR (TAGS LIKE '%'||#{keyword}||'%')) 
  	<foreach collection="type_list" item="item">
  		<if test="item!=null and !item.equals('')">
  			AND (CAMP_TYPE LIKE '%'||#{item}||'%')
  		</if>	
  	</foreach>
  	
  	<if test="address!=null and !address.equals('')">
  		AND (ADDRESS LIKE '%'||#{address}||'%')
  	</if>
  	<if test="low_price!=null and !low_price.equals('') and high_price!=null and !high_price.equals('')">
  		AND (CAST(LOWEST_PRICE AS NUMBER) BETWEEN CAST(#{low_price} AS NUMBER) AND CAST(#{high_price} AS NUMBER) ) 
  	</if>
  	<if test="sort!=null and !sort.equals('')">
  		
  			<if test='sort.equals("low_price")'>ORDER BY LOWEST_PRICE DESC</if>
  			<if test='sort.equals("high_price")'>ORDER BY LOWEST_PRICE ASC</if>
  			<if test='sort.equals("view_count")'>ORDER BY VIEW_COUNT DESC</if>
  			<if test='sort.equals("review_count")'>ORDER BY REVIEW_COUNT DESC</if>
  			<if test='sort.equals("total_grade")'>ORDER BY TOTAL_GRADE DESC</if>
  		
  	</if>
  </select>
  
  <update id="reviewCount" parameterType="int">
  	UPDATE CAMP SET REVIEW_COUNT=(SELECT COUNT(*) FROM REVIEW WHERE CAMPNO=#{campno}) WHERE CAMPNO=#{campno}
  </update>
  
  <select id="topCampList" resultType="campDto">
  	SELECT * FROM CAMP WHERE ROWNUM<![CDATA[ < ]]>5 ORDER BY REVIEW_COUNT DESC
  </select>
  <select id="newCampList" resultType="campDto">
  	SELECT * FROM CAMP WHERE ROWNUM<![CDATA[ < ]]>3 ORDER BY CAMPNO DESC
  </select>
  
  <update id="updateCamp" parameterType="campDto">
  	UPDATE CAMP SET INTRO=#{intro},RULE=#{rule},SERVICE=#{service},PHONE=#{phone},EMAIL=#{email},TAGS=#{tags} WHERE CAMPNO=#{campno}
  </update>
  
  <delete id="deleteCamp" parameterType="int">
  	DELETE FROM CAMP WHERE CAMPNO=#{campno}
  </delete>
</mapper>