<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases> <!-- 별칭 -->
		<typeAlias type="com.camping.controller.model.joonggo.dto.joonggo" alias="joonggoDto"/>
		<typeAlias type="com.camping.controller.model.joonggo.dto.renew" alias="renewDto"/>
		<typeAlias type="com.camping.controller.model.joonggo.dto.heart" alias="heartDto"/>
    <typeAlias type="com.camping.controller.model.camp.dto.CampDto" alias="campDto"/>
	</typeAliases>
	
	<mappers> <!-- mybatis mapper 등록 -->
		<mapper resource="/mybatis/joonggo-mapper.xml"/>
    <mapper resource="/mybatis/camping-mapper.xml"/>
	</mappers>

</configuration>

