<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases> 
		<!-- 별칭 -->
		<typeAlias type="com.camping.controller.model.joonggo.dto.joonggo" alias="joonggoDto"/>
		<typeAlias type="com.camping.controller.model.joonggo.dto.renew" alias="renewDto"/>
		<typeAlias type="com.camping.controller.model.joonggo.dto.heart" alias="heartDto"/>
		<typeAlias type="com.camping.controller.model.joonggo.dto.report" alias="reportDto"/>
		<typeAlias type="com.camping.controller.model.joonggo.dto.chatroom" alias="chatroomDto"/>
		<typeAlias type="com.camping.controller.model.joonggo.dto.chat" alias="chatDto"/>
		
		
    	<typeAlias type="com.camping.controller.model.camp.dto.CampDto" alias="campDto"/>
    	<typeAlias type="com.camping.controller.model.camp.dto.CampImageDto" alias="campImageDto"/>
    	<typeAlias type="com.camping.controller.model.camp.dto.ReservationDto" alias="reservationDto"/>
    	<typeAlias type="com.camping.controller.model.camp.dto.RoomDto" alias="roomDto"/>
    	<typeAlias type="com.camping.controller.model.camp.dto.RoomImageDto" alias="roomImageDto"/>
    	<typeAlias type="com.camping.controller.model.camp.dto.ReviewDto" alias="reviewDto"/>
    	<typeAlias type="com.camping.controller.model.camp.dto.WriterInfo" alias="writerInfo"/>
		<typeAlias type="com.camping.controller.model.camp.dto.SearchInfo" alias="searchInfo"/>
   
	  	<typeAlias type="com.camping.controller.model.member.dto.MemberDto" alias="memberDto"/>
	  	
	  	<!-- event -->
	  	<typeAlias type="com.camping.controller.model.event.dto.eventDto" alias="eventDto"/>
	  	
	  <!-- mypage -->
	  <typeAlias type="com.camping.controller.model.camp.dto.CampDto" alias="myCampDto"/>
	  <typeAlias type="com.camping.controller.model.member.dto.MemberDto" alias="myMemberDto"/>
	  <typeAlias type="com.camping.controller.model.joonggo.dto.report" alias="report"/>
	  <typeAlias type="com.camping.controller.model.camp.dto.RoomDto" alias="myRoomdto"/>
	  <typeAlias type="com.camping.controller.model.camp.dto.ReservationDto" alias="myReservDto"/>
	  <typeAlias type="com.camping.controller.model.joonggo.dto.joonggo" alias="myJoonggoDto"/>
	  <typeAlias type="com.camping.controller.model.joonggo.dto.heart" alias="myHeartDto"/>
	  <typeAlias type="com.camping.controller.model.event.dto.eventDto" alias="myPointDto"/>


	</typeAliases>
	
	<mappers> <!-- mybatis mapper 등록 -->
	<mapper resource="/mybatis/joonggo-mapper.xml"/>
    <mapper resource="/mybatis/camping-mapper.xml"/>
    <!-- login -->
  	<mapper resource="/mybatis/member-mapper.xml" />
  	
  	<!-- event -->
  		<mapper resource="/mybatis/event-mapper.xml"/>
  	
  	<!-- mypage -->
  	<mapper resource="/mybatis/mypage-mapper.xml" />
    
	</mappers>

</configuration>

